<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>MicroService - VSAlmeida | IBM</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- JQuery -->
	<script src="js/jquery-2.2.1.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css"   href="css/style.css">
	<h2 class ="cabecalho2">Microservices</h2>
</head>

<body class="body-index">
	
	<div class="container">
		<h4 class ="cabecalho"> <b>Seja bem vindo</b> </h4>
		<form autocomplete="off" method="post" action="/item/add">
			<div class="row">
				<div class="col-6">
				<label>Nome
				<input type="text" class= "form-control" name="nome" id="nome" placeholder="Seu Nome" required> </label>
				</div>
				<div class="col-6">
				<label>Sobrenome
				<input type="text" class= "form-control" name="sobrenome" id="sobrenome" placeholder="Seu Sobrenome" required> </label>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
				<label>CPF
				<input type="number" class= "form-control" name="cpf" id="cpf" placeholder="000.000.000-00" required> </label>
				</div>
				<div class="col-6">
				<label>Telefone
				<input type="number" class= "form-control" name="tel" id="tel" placeholder="(00) 0000-0000" required> </label>
				</div>
				<label>Escolha um produto:
					<div class="form-group row">
				
						<div class="col-xs-2">
							<img src="images/IBM-Watson.jpg" class="img-responsive img-radio">
							<center>
								<input type="radio" id="left-item" name="servico" value="watson"> Watson
							</center>
						</div>
						
						<div>
							<img src="images/kubernetes.jpg" class="img-responsive img-radio">
							<cdiv>
								<input type="radio" id="left-item" name="servico" value="kubernetes"> Kubernetes
							</>
						</div>
						
				</label>
			
			</div>
			<div class="row">
			
			</div>
			<input type="submit" class="btn btn-primary" value="Cadastrar">
			<div class="text-center">
				<small> 
					<a href="/cadastrados" class="text-muted">Users Cadastrados</a>
				</small>	
			</div>
		</form>
			<div >
				<img src="images/índice.jpg" />
			</div>

			<div class="col-md-2"></div>
			</div>
		</div>
	</div>	
	
</body>
</html>